# Allow CORS for localhost:4200
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:4200"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>

# Ensure CORS headers are applied even in responses with errors
SetEnvIf Origin "http(s)?://(www\.)?(localhost:4200)$" ACAO=$0
Header set Access-Control-Allow-Origin %{ACAO}e env=ACAO
